body{
    background-color: #D4F1F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.grid{
    display: grid;
    border: thick solid #05445E;
    background-color: white;
    align-items: center;
    text-align: center;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.gridElement{
    border: 1px dotted rgba(24,154,198, 0.5);
}
.colored{
    background-color: black;
}

.footer{
    padding: 10px 10px 10px 10px;
    width: 100%;
    text-align: center;
    background-color: #189AB4;
    display: flex;
    flex-direction: column;
    gap: 0px;
    bottom: 0;
    position: fixed;
}
.slidecontainer{
    width: 60%;
    text-align: center;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 40%; 
    height: 30px;
    opacity: 0.7;
    background-color: #05445E;
    outline: none;
    transition: opacity 0.2s;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 30px;        
    height: 30px;
    background: #189AB4;
    cursor: pointer;
}

.slider::-moz-slider-thumb{
    -moz-appearance: none;
    appearance: none;
    width: 30px;        
    height: 30px;
    background: #189AB4;
    cursor: pointer;
}