html, body{
    min-height: 100%;
}
@font-face {
    font-family: Silkscreen;
    src: url(../Silkscreen-Regular.ttf);
}
body{
    font-family: Silkscreen;
    min-height: 100vh;
    background-color: #D4F1F4;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.header{
    font-weight: 200;
    font-size: 3.5vh;
}
.content{
    display: flex;
    gap: 1vw;
}
h1{
    margin: 0;
    padding: 0;
    font-weight: 200;
    color:#189AB4;
    text-shadow:3px 3px #05445E;
}
.body{
    margin auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.controls{
    background-color: #189AB4;
    box-shadow:10px 10px #05445E;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.grid{
    display: grid;
    border: thick solid #189AB4;
    background-color: white;
    box-shadow:10px 10px #05445E;
    align-items: center;
    text-align: center;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: url("../pen.png"), auto;
}
#penGrid{
    cursor: url("../pen.png"), auto;
}
#eraserGrid{
    cursor: url("../eraser.png"), auto;
}
#rainbowGrid{
    cursor: url("../rainbow.png"), auto;
}
#shadowGrid{
    cursor: url("../shadow.png"), auto;
}
.gridElement{
    border: 1px dotted rgba(24,154,198, 0.5);
}
.colored{
    background-color: black;
}
p{
    padding: 0;
    margin: 0;
}

.footer{
    padding: 2vh 0;
    margin:0;
    margin-top: auto;
    width: 100%;
    text-align: center;
    background-color: #189AB4;
}
.slidecontainer{
    width: 60%;
    height: auto;
    text-align: center;
    flex-grow: 1;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 24vw; 
    height: 2vh;
    opacity: 0.7;
    background-color: #05445E;
    outline: none;
    transition: opacity 0.2s;
    flex-grow: 1;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 3vh;        
    height: 3vh;
    background: #189AB4;
    cursor: pointer;
}

.slider::-moz-slider-thumb{
    -moz-appearance: none;
    appearance: none;
    width: 3vh;        
    height: 3vh;
    background: #189AB4;
    cursor: pointer;
}
#myRange{
    border-radius: 50px;
}

.sliderLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5vh;
    gap: 15%;
}

.colorSelector{
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    background-image: url("../color-circle.png");
    background-size: 100%;
}
#colorPicker{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}
#colorPicker::-webkit-color-swatch-wrapper{
    padding: 0;
}
#colorPicker::-moz-color-swatch-wrapper{
    padding: 0;
}
#colorPicker::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}
#colorPicker::-moz-color-swatch{
    border: none;
    border-radius: 50%;
}
#eraser{
    height: 60px;
    width: 60px;
    background-image: url("../eraser.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    transition: 0.3s ease-in-out;
}
#eraser:hover{
    cursor: pointer;
    opacity: 0.8;
}
#eraser:active{
    transform: scale(0.8);
}
#eraserLabel, #colorLabel,#penLabel,#clearLabel,#rainbowLabel,#shadowLabel{
    color: white;
    font-weight: 400;
}
#pen{
    height: 60px;
    width: 60px;
    background-image: url("../pen.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    transition: 0.2s ease-in-out;
}
#pen:hover{
    cursor: pointer;
    opacity: 0.8;
}
#pen:active{
    transform: scale(0.8);
}
#clear{
    height: 60px;
    width: 60px;
    background-image: url("../clear.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    transition: 0.3s ease-in-out;
}
#clear:hover{
    cursor: pointer;
    opacity: 0.8;
}
#clear:active{
    transform: scale(0.8);
}
#rainbow{
    height: 60px;
    width: 60px;
    background-image: url("../rainbow.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    transition: 0.3s ease-in-out;
}
#rainbow:hover{
    cursor: pointer;
    opacity: 0.8;
}
#rainbow:active{
    transform: scale(0.8);
}
#shadow{
    height: 60px;
    width: 60px;
    background-image: url("../shadow.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    transition: 0.3s ease-in-out;
}
#shadow:hover{
    cursor: pointer;
    opacity: 0.8;
}
#shadow:active{
    transform: scale(0.8);
}
