.body{
    display: flex;
    flex-direction: column;
}
.grid{
    display: grid;
    border: thick solid black;
    width: 640px;
    height: 640px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-row: repeat(16, 1fr);
    align-items: center;
    text-align: center;
}
.row{
    border: thin solid black;
}